.weather{
   border: 1px solid #dadde1;
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(red, green, blue);
   padding: 16px;
   margin: 30px;
   max-width: 600px;
   border-radius: 5px;

}
.weather h2{
line-height: 29px;
font-size: 24px;
font-weight: 100px;
margin: 20px 0 0 0;
}
.weather ul{
margin: 0;
padding: 0;
}
.weather li{
    list-style: none;
    font-size: 16px;
    font-weight: 100px;
    line-height: 19px;
}
.weather img{
    display: block;
    width: 64px;
    height: 64px;
    margin-right: 10px;
}
.weather .temperature{
    color: rgb(red, green, blue);
    font-size: 64px;
    font-weight: bold;
    font-weight: 200px;
    line-height: 64px;
}
.weather .units{
    color: rgb(red, green, blue);
    font-size: 16px;
    font-weight: 200px;
    position: relative;
    top: -34px;
    line-height: 1;
}